@font-face {
  font-family: "nd-pierrot-fcueg8";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/nd-pierrot-fcueg8-400.woff2") format("woff2");
}
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cabin-700-latin-ext.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cabin-700-latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cabin-700-vietnamese.woff2") format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/pt-serif-400-cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/pt-serif-400-latin-ext.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/pt-serif-400-cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/pt-serif-400-latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/cabin-400-latin-ext.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/cabin-400-vietnamese.woff2") format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/cabin-400-latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/cabin-400-italic-vietnamese.woff2") format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/cabin-400-italic-latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/cabin-400-italic-latin-ext.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cabin-700-italic-latin-ext.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cabin-700-italic-vietnamese.woff2") format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cabin-700-italic-latin.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.block.text-block .text-block__content {
  position: relative;
  z-index: 0;
}

:root {
  --color-white-hsl: 0, 0%, 100%;
  --color-accent-hsl: 204, 8.93%, 78.04%;
  --color-accent-dark-hsl: 88, 12.4%, 23.73%;
  --color-black-hsl: 0, 0%, 0%;
  --color-accent-dark-safe-hsl: 0, 0%, 0%;
  --color-accent-inverse-safe-hsl: 0, 0%, 0%;
  --color-accent-dark-inverse-safe-hsl: 0, 0%, 100%;
}
:root {
  --color-text-small: hsla(var(--color-black-hsl), 1);
  --color-text: hsla(var(--color-black-hsl), 1);
  --color-button-outline-background: hsla(var(--color-accent-dark-safe-hsl), 1);
  --color-menu-link: hsla(var(--color-black-hsl), 1);
  --text-block-stroke-color: hsla(var(--color-black-hsl), 1);
  --color-heading-xl: hsla(var(--color-black-hsl), 1);
  --color-link: hsla(var(--color-accent-dark-safe-hsl), 1);
  --color-background: hsla(var(--color-white-hsl), 1);
  --color-button-primary-background: hsla(var(--color-accent-dark-safe-hsl), 1);
  --color-nav-link: hsla(var(--color-black-hsl), 1);
  --color-menu-button-text: hsla(var(--color-accent-dark-inverse-safe-hsl), 1);
  --color-menu-background: hsla(var(--color-white-hsl), 1);
  --color-button-primary-text: hsla(var(--color-accent-dark-inverse-safe-hsl), 1);
  --color-heading-sm: hsla(var(--color-black-hsl), 1);
  --color-header-nav: hsla(var(--color-black-hsl), 1);
  --image-overlay-color: hsla(var(--color-black-hsl), 0.5);
  --color-button-outline-text: hsla(var(--color-accent-dark-inverse-safe-hsl), 1);
  --color-heading-lg: hsla(var(--color-black-hsl), 1);
  --color-overlay: hsla(var(--color-white-hsl), 1);
  --gradientHeaderBackgroundColor: hsla(var(--color-white-hsl), 1);
  --color-menu-button-background: hsla(var(--color-accent-dark-safe-hsl), 1);
}
[data-theme="bright"] {
  --color-text-small: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-text: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-button-outline-background: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-menu-link: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --text-block-stroke-color: hsla(var(--color-accent-dark-hsl), 1);
  --color-heading-xl: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-link: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-background: hsla(var(--color-accent-hsl), 1);
  --color-button-primary-background: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-nav-link: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-menu-button-text: hsla(var(--color-accent-hsl), 1);
  --color-menu-background: hsla(var(--color-accent-hsl), 1);
  --color-button-primary-text: hsla(var(--color-accent-hsl), 1);
  --color-heading-sm: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-header-nav: hsla(var(--color-black-hsl), 1);
  --image-overlay-color: hsla(var(--color-black-hsl), 0.5);
  --color-button-outline-text: hsla(var(--color-accent-hsl), 1);
  --color-heading-lg: hsla(var(--color-accent-inverse-safe-hsl), 1);
  --color-overlay: hsla(var(--color-accent-hsl), 1);
  --gradientHeaderBackgroundColor: hsla(var(--color-white-hsl), 1);
  --color-menu-button-background: hsla(var(--color-accent-inverse-safe-hsl), 1);
}
:root {
  --font-size-base: 16px;
  --font-heading-family: "nd-pierrot-fcueg8";
  --font-heading-style: normal;
  --font-heading-weight: 400;
  --font-heading-text-transform: none;
  --font-heading-letter-spacing: -0.02em;
  --font-heading-line-height: 1.2em;
  --font-body-family: "Cabin";
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-body-text-transform: none;
  --font-body-letter-spacing: 0em;
  --font-body-line-height: 1.5em;
  --font-size-h1: 4;
  --font-size-h2: 2.8;
  --font-size-h4: 1.6;
  --font-size-text: 1;
  --font-size-text-small: 0.9;
  --font-button-primary-family: "nd-pierrot-fcueg8";
  --font-button-primary-style: normal;
  --font-button-primary-weight: 400;
  --font-button-primary-text-transform: none;
  --font-button-primary-letter-spacing: 0em;
  --font-button-primary-line-height: 1.2em;
  --font-button-primary-size: 1;
  --font-header-button-family: "PT Serif";
  --font-header-button-style: normal;
  --font-header-button-weight: 400;
  --font-header-button-text-transform: none;
  --font-header-button-letter-spacing: 0em;
  --font-header-button-line-height: 1.2em;
  --font-header-button-size: 1;
  --font-nav-family: var(--font-heading-family);
  --font-nav-style: var(--font-heading-style);
  --font-nav-weight: var(--font-heading-weight);
  --font-nav-text-transform: var(--font-heading-text-transform);
  --font-nav-letter-spacing: var(--font-heading-letter-spacing);
  --font-nav-line-height: var(--font-heading-line-height);
  --font-nav-size: var(--font-size-text);
  --font-button-outline-family: "nd-pierrot-fcueg8";
  --font-button-outline-style: normal;
  --font-button-outline-weight: 400;
  --font-button-outline-text-transform: none;
  --font-button-outline-letter-spacing: 0em;
  --font-button-outline-line-height: 1.2em;
  --font-button-outline-size: 0.75;
}
:root {
  --page-max-width: 1500px;
  --page-padding: 2vw;
  --button-primary-radius-top-left: 15px;
  --button-primary-radius-top-right: 15px;
  --button-primary-radius-bottom-left: 15px;
  --button-primary-radius-bottom-right: 15px;
  --button-primary-padding-x: 1.3rem;
  --button-primary-padding-y: 1rem;
  --button-primary-stroke: 0px;
  --button-outline-padding-x: 1.3rem;
  --button-outline-padding-y: 1rem;
  --button-outline-stroke: 0px;
}
article,
footer,
header,
main,
nav,
section {
  display: block;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: 0 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
strong {
  font-weight: 700;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.block {
  position: relative;
  height: auto;
}
.block:not(.text-block) {
  clear: both;
}
.code-block img {
  max-width: 100%;
}
.grid-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.grid .block {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.text-block {
  clear: none;
}
.text-block .text-block__content {
  outline: none;
}
.text-block .text-block__content *:not(h1):not(h2):not(h3) {
  word-wrap: break-word;
}
.text-block .text-block__content > *:first-child {
  margin-top: 0;
}
.text-block .text-block__content > *:last-child {
  margin-bottom: 0;
}
.text-block .text-block__content .text-highlight a:link,
.text-block .text-block__content .text-highlight a:visited,
.text-block .text-block__content .text-highlight a:hover,
.text-block .text-block__content .text-highlight a:active {
  text-decoration: none;
  background-image: none;
}
h1,
h2,
h4 {
  margin: 2rem 0;
}
p,
.text-small {
  margin: 1rem 0;
}
.text-block a {
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, currentColor 100%, currentColor 0);
  background-size: 1px 1px;
  background-position: 0 100%;
  white-space: initial;
}
@supports (text-decoration-thickness: 1px) and (text-underline-offset: 0.2em) {
  .text-block a {
    background-repeat: unset;
    background-image: unset;
    background-size: unset;
    background-position: unset;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    text-decoration-skip: auto;
    text-decoration-skip-ink: auto;
  }
}
.site .button--primary {
  font-family: var(--font-button-primary-family);
  font-style: var(--font-button-primary-style);
  font-weight: var(--font-button-primary-weight);
  line-height: var(--font-button-primary-line-height);
  letter-spacing: var(--font-button-primary-letter-spacing);
  text-transform: var(--font-button-primary-text-transform);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .site .button--primary {
    font-size: calc((var(--font-button-primary-size) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  .site .button--primary {
    font-size: min(
      calc((var(--font-button-primary-size) - 1) * 1.2vw + 1rem),
      max(
        calc((var(--font-button-primary-size) - 1) * 0.012 * var(--page-max-width) + 1rem),
        calc(var(--font-button-primary-size) * 1rem)
      )
    );
  }
}
.site .button--outline {
  font-family: var(--font-button-outline-family);
  font-style: var(--font-button-outline-style);
  font-weight: var(--font-button-outline-weight);
  line-height: var(--font-button-outline-line-height);
  letter-spacing: var(--font-button-outline-letter-spacing);
  text-transform: var(--font-button-outline-text-transform);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .site .button--outline {
    font-size: calc((var(--font-button-outline-size) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  .site .button--outline {
    font-size: min(
      calc((var(--font-button-outline-size) - 1) * 1.2vw + 1rem),
      max(
        calc((var(--font-button-outline-size) - 1) * 0.012 * var(--page-max-width) + 1rem),
        calc(var(--font-button-outline-size) * 1rem)
      )
    );
  }
}
html,
body {
  font-size: var(--font-size-base);
}
.site {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: var(--font-body-line-height);
  letter-spacing: var(--font-body-letter-spacing);
  text-transform: var(--font-body-text-transform);
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .site {
    font-size: calc((var(--font-size-text) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  .site {
    font-size: min(
      calc((var(--font-size-text) - 1) * 1.2vw + 1rem),
      max(calc((var(--font-size-text) - 1) * 0.012 * var(--page-max-width) + 1rem), calc(var(--font-size-text) * 1rem))
    );
  }
}
p,
.text-small {
  line-height: var(--font-body-line-height);
}
h1,
h2,
h4 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  line-height: var(--font-heading-line-height);
  letter-spacing: var(--font-heading-letter-spacing);
  text-transform: var(--font-heading-text-transform);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .text-small {
    font-size: calc((var(--font-size-text-small) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  .text-small {
    font-size: min(
      calc((var(--font-size-text-small) - 1) * 1.2vw + 1rem),
      max(
        calc((var(--font-size-text-small) - 1) * 0.012 * var(--page-max-width) + 1rem),
        calc(var(--font-size-text-small) * 1rem)
      )
    );
  }
}
h1 {
  line-height: calc(var(--font-heading-line-height) * (1 + (1 - var(--font-size-h1)) / 25));
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  h1 {
    font-size: calc((var(--font-size-h1) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  h1 {
    font-size: min(
      calc((var(--font-size-h1) - 1) * 1.2vw + 1rem),
      max(calc((var(--font-size-h1) - 1) * 0.012 * var(--page-max-width) + 1rem), calc(var(--font-size-h1) * 1rem))
    );
  }
}
h2 {
  line-height: calc(var(--font-heading-line-height) * (1 + (1 - var(--font-size-h2)) / 25));
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  h2 {
    font-size: calc((var(--font-size-h2) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  h2 {
    font-size: min(
      calc((var(--font-size-h2) - 1) * 1.2vw + 1rem),
      max(calc((var(--font-size-h2) - 1) * 0.012 * var(--page-max-width) + 1rem), calc(var(--font-size-h2) * 1rem))
    );
  }
}
h4 {
  line-height: calc(var(--font-heading-line-height) * (1 + (1 - var(--font-size-h4)) / 25));
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  h4 {
    font-size: calc((var(--font-size-h4) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  h4 {
    font-size: min(
      calc((var(--font-size-h4) - 1) * 1.2vw + 1rem),
      max(calc((var(--font-size-h4) - 1) * 0.012 * var(--page-max-width) + 1rem), calc(var(--font-size-h4) * 1rem))
    );
  }
}
.site-nav__item {
  font-family: var(--font-nav-family);
  font-style: var(--font-nav-style);
  font-weight: var(--font-nav-weight);
  line-height: var(--font-nav-line-height);
  letter-spacing: var(--font-nav-letter-spacing);
  text-transform: var(--font-nav-text-transform);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .site-nav__item {
    font-size: calc((var(--font-nav-size) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  .site-nav__item {
    font-size: min(
      calc((var(--font-nav-size) - 1) * 1.2vw + 1rem),
      max(calc((var(--font-nav-size) - 1) * 0.012 * var(--page-max-width) + 1rem), calc(var(--font-nav-size) * 1rem))
    );
  }
}
.mobile-menu__item {
  font-family: var(--font-nav-family);
  font-style: var(--font-nav-style);
  font-weight: var(--font-nav-weight);
  line-height: var(--font-nav-line-height);
  letter-spacing: var(--font-nav-letter-spacing);
  text-transform: var(--font-nav-text-transform);
  line-height: 1;
}
.site .skip-link {
  font-family: var(--font-header-button-family);
  font-style: var(--font-header-button-style);
  font-weight: var(--font-header-button-weight);
  line-height: var(--font-header-button-line-height);
  letter-spacing: var(--font-header-button-letter-spacing);
  text-transform: var(--font-header-button-text-transform);
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .site .skip-link {
    font-size: calc((var(--font-header-button-size) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  }
}
@media screen and (min-width: 768px), screen and (orientation: landscape) {
  .site .skip-link {
    font-size: min(
      calc((var(--font-header-button-size) - 1) * 1.2vw + 1rem),
      max(
        calc((var(--font-header-button-size) - 1) * 0.012 * var(--page-max-width) + 1rem),
        calc(var(--font-header-button-size) * 1rem)
      )
    );
  }
}
.mobile-menu {
  font-size: 1.2em;
}
.mobile-menu__item a {
  font-size: 8.5vmin;
}
@media screen and (min-width: 576px) {
  .mobile-menu__item a {
    font-size: 6.6vmin;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__item a {
    font-size: 6vmin;
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: min(var(--font-size-base), 16px);
  }
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.menu-toggle__button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.menu-toggle__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}
.menu-toggle__icon {
  width: 100%;
  height: 100%;
}
.menu-toggle__icon .menu-toggle__bar-top,
.menu-toggle__icon .menu-toggle__bar-middle,
.menu-toggle__icon .menu-toggle__bar-bottom {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  transition:
    transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1),
    width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  will-change: transform, width;
}
.menu-toggle__icon .menu-toggle__bar-top {
  transform: translatey(-5.5px);
}
.menu-toggle__icon .menu-toggle__bar-bottom {
  transform: translatey(5.5px);
}
.menu-toggle__icon .menu-toggle__bar-middle {
  transform: scale(0);
}
.menu-toggle__button--active .menu-toggle__icon .menu-toggle__bar-top {
  transform: translatex(3.5px) rotate(-135deg);
  width: 28px;
}
.menu-toggle__button--active .menu-toggle__icon .menu-toggle__bar-bottom {
  transform: translatex(3.5px) rotate(135deg);
  width: 28px;
}
.menu-toggle__button--active .menu-toggle__icon .menu-toggle__bar-middle {
  transform: scale(0);
}
.icon {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  box-sizing: content-box;
  line-height: 1;
}
.icon--stroke svg {
  stroke-width: 1px;
  fill: transparent;
}
.icon--fill svg {
  fill: currentColor;
}
.icon svg {
  width: 100%;
  height: 100%;
}
.cart__count {
  display: block;
  font-family: inherit;
}
.cart__count {
  position: absolute;
  top: -1em;
  right: -1em;
  min-width: 1em;
  font-size: 10px;
  padding: 0.5em;
  text-align: right;
  line-height: 1em;
}
.button {
  position: relative;
  display: inline-block;
  line-height: normal;
}
:root {
  --section-divider-offset: 0px;
}
body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@supports (--test-custom-property: true) {
  body {
    --site-gutter: var(--page-padding);
    --site-gutter-mobile: 6vw;
    --site-max-width: var(--page-max-width);
  }
}
a {
  color: inherit;
  text-decoration: none;
}
:focus {
  outline-offset: 4px;
}
:focus,
a:focus {
  outline-width: 2px;
  outline-style: solid;
}
:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
}
.page-section {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.page-section > .page-section__wrapper {
  width: 100%;
  box-sizing: content-box;
  position: relative;
}
.page-section .page-section__content {
  width: 100%;
}
.page-section > .page-section__wrapper {
  display: flex;
}
@media screen and (max-width: 767px) {
  .page-section .page-section__content {
    width: 100% !important;
  }
}
.page-section .page-section__content {
  width: 100%;
}
.page-section > .page-section__wrapper {
  justify-content: center;
}
.page-section.page-section--medium {
  min-height: 66vh;
}
.page-section {
  align-items: center;
}
.page-section.page-section--medium > .page-section__wrapper {
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
}
.page-section__border {
  position: absolute;
  top: calc(-1 * var(--section-divider-offset, 0px));
  right: 0;
  bottom: 0;
  left: 0;
}
.page-section__background {
  overflow: hidden;
  pointer-events: none;
}
.page-section__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.page {
  z-index: 9;
}
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-footer {
  margin-top: auto;
  position: relative;
  z-index: 0;
}
.site-footer .text-block a {
  display: inline-block;
}
.cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding: 17px 17px 13px 13px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cart.cart--hidden {
  display: none;
}
body.menu-open {
  overflow: hidden;
}
body:not(.menu-open) .site-header button {
  color: var(--color-header-nav);
}
body:not(.menu-open) .site-header .site-nav__wrapper a {
  color: var(--color-header-nav);
}
body:not(.menu-open) .site-header .site-nav__wrapper .site-nav__item--active a {
  color: var(--color-header-nav);
}
body:not(.menu-open) .site-header .menu-toggle__icon .menu-toggle__bar-top,
body:not(.menu-open) .site-header .menu-toggle__icon .menu-toggle__bar-middle,
body:not(.menu-open) .site-header .menu-toggle__icon .menu-toggle__bar-bottom {
  background-color: var(--color-header-nav);
}
.site-header {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: transform 140ms ease-in-out;
}
.site-header .site-header__announcement {
  position: relative;
  z-index: 3;
  pointer-events: auto;
}
.site-header .site-header__bar {
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  pointer-events: auto;
}
.site-header .site-header__bar .site-header__border,
.site-header .site-header__bar .site-header__shadow,
.site-header .site-header__bar .site-header__gradient {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
body:not(.menu-open) .site-header .site-header__bar .site-header__gradient {
  background: linear-gradient(var(--gradientHeaderBackgroundColor), transparent);
}
.site-header .site-header__bar .site-header__border {
  z-index: 1;
}
.menu-open .site-header .site-header__bar .site-header__border {
  visibility: hidden;
}
.menu-open .site-header .site-header__bar .site-header__shadow {
  visibility: hidden;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-header .site-header__bar {
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
.site-header .site-nav__wrapper a {
  text-decoration: none;
  backface-visibility: hidden;
  padding: 0.1em 0;
}
.site-header .skip-link {
  position: absolute;
  padding: 1em 1.5em;
  box-sizing: border-box;
  text-decoration: underline;
  z-index: 2;
  max-width: calc(100vw - 2.6em);
  top: 1.5em;
  left: -1000em;
}
.site-header .skip-link:focus {
  left: 1.3em;
}
.site-header__inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}
.site-header__background,
.site-header__background::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity;
}
.site-header__background::after {
  content: "";
  opacity: 0;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-header__background::after {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.site-header__mobile {
  display: none;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-header__mobile {
    display: flex;
  }
}
.site-header__mobile .desktop-only {
  display: flex;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-header__mobile .desktop-only {
    display: none;
  }
}
.site-header__desktop {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-header__desktop {
    display: none;
  }
}
.site-header__desktop .mobile-only {
  display: none;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-header__desktop .mobile-only {
    display: flex;
  }
}
.site-header__brand {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 67%;
  align-items: center;
}
.site-header__title {
  flex-grow: 0;
  flex-shrink: 0;
  backface-visibility: hidden;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-header__title {
    flex-grow: 1;
  }
}
.site-header__logo {
  width: auto;
  font-size: 0;
}
.site-header__logo a {
  display: inline-block;
  max-width: 100%;
  max-height: 20px;
}
.site-header__logo img {
  width: auto;
  max-width: 100%;
  max-height: 20px;
}
@media screen and (max-width: 767px) {
  .site-header__logo a {
    max-height: 30px;
  }
  .site-header__logo img {
    max-height: 30px;
  }
}
.menu-toggle {
  display: none;
  align-items: center;
  justify-content: center;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .menu-toggle {
    display: flex;
  }
}
.site-nav {
  flex-grow: 1;
  flex-shrink: 1;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-nav {
    display: none;
  }
}
.site-nav__list {
  display: inline-flex;
  flex-wrap: wrap;
}
.site-nav__list > div {
  white-space: nowrap;
}
.site-nav__list > div {
  display: inline-flex;
}
.site-nav__item a {
  display: inline-flex;
  align-items: center;
}
.site-header__actions {
  flex-grow: 0;
  flex-shrink: 1;
  display: inline-flex;
  align-items: center;
}
.site-header__actions .site-header__cta {
  white-space: nowrap;
}
.site-header__actions {
  justify-content: flex-end;
}
.site-header__actions .site-header__action {
  margin: 0 0 0 0.9vw;
}
.site-header__title {
  width: 34%;
  text-align: center;
  flex: 1 1 34%;
}
.site-nav {
  width: 33%;
  flex: 1 1 33%;
}
.site-nav .site-nav__item:not(:last-child) {
  margin-right: 1.5vw;
}
.site-header__actions {
  width: 33%;
}
.site-header__action {
  text-align: center;
  line-height: 1;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .site-header .menu-toggle {
    margin-right: 0;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 0 0 50px;
    width: 50px;
  }
  .site-header .site-header__brand {
    flex: 1 0 calc(100% - 50px);
  }
  .site-header .site-header__brand .site-header__title {
    margin-right: 0;
    flex: 1 0 100%;
    text-align: left;
  }
  .site-header .site-header__brand .site-nav {
    display: none;
  }
  .site-header .site-header__actions,
  .site-header .site-header__cta {
    display: none;
  }
  .site-header .site-header__mobile .menu-toggle {
    justify-content: flex-start;
  }
  .site-header .site-header__mobile .site-header__actions {
    justify-content: flex-end;
  }
  .site-header .site-header__mobile .site-header__title {
    text-align: center;
  }
  .site-header .site-header__mobile .site-header__title .site-header__logo {
    padding-right: 50px;
  }
}
.site-header[data-first-focusable-element]:focus {
  outline: none;
}
main .page-content:first-child .page-region:first-child .page-section:first-child {
  padding-top: var(--header-height, 100px);
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  main .page-content:first-child .page-region:first-child .page-section:first-child {
    padding-top: var(--header-height, 80.175px);
  }
}
.mobile-menu {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  user-select: none;
  text-align: center;
  pointer-events: auto;
}
.mobile-menu {
  text-align: left;
}
.mobile-menu a {
  opacity: 1;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .mobile-menu {
    transition:
      visibility 600ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mobile-menu__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mobile-menu__nav {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}
.mobile-menu__list {
  position: relative;
  flex-grow: 1;
  width: 100%;
  transform: translatey(20px);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__folder {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translatex(100%);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
}
.mobile-menu__folder[data-folder="root"] {
  transform: translatex(0%);
}
.mobile-menu__folder-content {
  position: relative;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  flex-direction: column;
}
.mobile-menu__folder--active {
  transform: translatex(0);
  will-change: transform;
}
.mobile-menu__folder--open {
  transform: translatex(-100%) !important;
}
.mobile-menu__item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}
.mobile-menu__item a {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 5vw 5vw;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .mobile-menu__item:hover a {
    opacity: 0.9;
  }
}
.mobile-menu__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  pointer-events: none;
}
.mobile-menu__cta {
  transform: translatey(100%);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__cta {
  justify-content: flex-start;
}
.mobile-menu__cta a {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin: 4vw 6vw 6vw;
  min-width: 210px;
}
@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px) {
  .menu-open .mobile-menu {
    opacity: 1;
    visibility: visible;
  }
}
.menu-open .mobile-menu .mobile-menu__list {
  transform: translatey(0);
}
.menu-open .mobile-menu .mobile-menu__cta {
  transform: translatey(0);
}
body:not(.menu-open) .site-nav__item--active > a {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}
@media (forced-colors: active) {
  body:not(.menu-open) .site-nav__item--active > a {
    text-decoration: underline !important;
  }
}
.transition-disabled {
  transition: none !important;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
}
.page-section .page-section__border {
  background-color: var(--color-background);
}
p a {
  color: var(--color-link);
}
.image-block .image-block__container::after {
  opacity: 0.1;
}
.page-section {
  color: var(--color-text);
}
.page-section__background {
  background-color: var(--color-background);
}
h1 {
  color: var(--color-heading-xl);
}
h2 {
  color: var(--color-heading-lg);
}
h4 {
  color: var(--color-heading-sm);
}
.text-small {
  color: var(--color-text-small);
}
.text-block {
  border-color: var(--text-block-stroke-color);
}
.text-block a {
  color: var(--color-link);
}
:focus,
a:focus {
  outline-color: var(--color-nav-link);
}
.skip-link.button--primary {
  color: var(--color-button-primary-text) !important;
  background-color: var(--color-button-primary-background) !important;
  border-color: var(--color-button-primary-background) !important;
}
.button--outline {
  color: var(--color-button-outline-background);
  border-color: var(--color-button-outline-background);
}
@media (hover: hover) {
  .button--outline:hover {
    background: var(--color-button-outline-background);
    color: var(--color-button-outline-text);
  }
}
.button--primary {
  color: var(--color-button-primary-background);
  border-color: var(--color-button-primary-background);
}
@media (hover: hover) {
  .button--primary:hover {
    background: var(--color-button-primary-background);
    color: var(--color-button-primary-text);
  }
}
.cart {
  background-color: var(--color-button-primary-background);
  color: var(--color-button-primary-text);
}
.cart :focus {
  outline-color: var(--color-button-primary-text);
}
.cart .icon--stroke svg {
  stroke: var(--color-button-primary-text);
}
:not(.menu-open) .site-nav__wrapper a {
  color: var(--color-nav-link);
}
:not(.menu-open) .site-nav__wrapper .site-nav__item--active :is(a, button) {
  color: var(--color-nav-link);
}
:not(.menu-open) .menu-toggle__icon .menu-toggle__bar-top,
:not(.menu-open) .menu-toggle__icon .menu-toggle__bar-middle,
:not(.menu-open) .menu-toggle__icon .menu-toggle__bar-bottom {
  background-color: var(--color-nav-link);
}
@media (forced-colors: active) {
  :not(.menu-open) .menu-toggle__icon .menu-toggle__bar-top,
  :not(.menu-open) .menu-toggle__icon .menu-toggle__bar-middle,
  :not(.menu-open) .menu-toggle__icon .menu-toggle__bar-bottom {
    background-color: ButtonText;
  }
}
:not(.menu-open) .site-header__actions {
  color: var(--color-nav-link);
}
.menu-open .site-header .menu-toggle .menu-toggle__bar-top,
.menu-open .site-header .menu-toggle .menu-toggle__bar-middle,
.menu-open .site-header .menu-toggle .menu-toggle__bar-bottom {
  background-color: var(--color-menu-link);
}
@media (forced-colors: active) {
  .menu-open .site-header .menu-toggle .menu-toggle__bar-top,
  .menu-open .site-header .menu-toggle .menu-toggle__bar-middle,
  .menu-open .site-header .menu-toggle .menu-toggle__bar-bottom {
    background-color: ButtonText;
  }
}
.menu-open .site-header .site-nav__wrapper a {
  color: var(--color-menu-link);
}
.menu-open .site-header .site-nav__wrapper .site-nav__item--active :is(a, button) {
  color: var(--color-menu-link);
}
.menu-open .site-header .site-header__actions {
  color: var(--color-menu-link);
}
.site .mobile-menu .mobile-menu__background {
  background-color: var(--color-menu-background);
}
.site .mobile-menu .mobile-menu__nav a:not(.button) {
  color: var(--color-menu-link);
}
.site .mobile-menu .mobile-menu__nav .mobile-menu__item--active a {
  color: var(--color-menu-link);
}
.site .mobile-menu .mobile-menu__cta a {
  color: var(--color-menu-button-text);
  background-color: var(--color-menu-button-background);
  border-color: var(--color-menu-button-background);
}
.mobile-menu .mobile-menu__cta a.button--outline {
  color: var(--color-menu-button-background);
  border-color: var(--color-menu-button-background);
}
@media (hover: hover) {
  .mobile-menu .mobile-menu__cta a.button--outline:hover {
    background: var(--color-menu-button-background);
    color: var(--color-menu-button-text);
  }
}
.image-block__overlay {
  background-color: var(--image-overlay-color);
}
.image-block__container::after {
  background-color: var(--color-overlay);
}

@keyframes hideContent {
  0%,
  99% {
    opacity: 0;
  }
}
.image-block .image-block__frame,
.image-block .image-block__frame .image-block__figure {
  width: 100%;
  height: 100%;
}
.image-block .image-block__frame img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
.image-block .image-block__frame .image-block__figure {
  display: flex;
}
.image-block .image-block__frame .image-block__figure {
  justify-content: flex-start;
}
.image-block .image-block__frame .image-block__container .image-block__fill {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.image-block .image-block__frame .image-block__container .image-block__fill img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.page-section > .page-section__wrapper {
  max-width: var(--page-max-width);
  margin: 0 auto;
  box-sizing: border-box;
}
.page-section > .page-section__wrapper {
  max-width: 100%;
}
.site .button--primary {
  padding-top: var(--button-primary-padding-top, var(--button-primary-padding-y));
  padding-right: var(--button-primary-padding-right, var(--button-primary-padding-x));
  padding-bottom: var(--button-primary-padding-bottom, var(--button-primary-padding-y));
  padding-left: var(--button-primary-padding-left, var(--button-primary-padding-x));
}
.site .button--primary {
  border-width: var(--button-primary-stroke);
}
.site .button--outline {
  padding-top: var(--button-outline-padding-top, var(--button-outline-padding-y));
  padding-right: var(--button-outline-padding-right, var(--button-outline-padding-x));
  padding-bottom: var(--button-outline-padding-bottom, var(--button-outline-padding-y));
  padding-left: var(--button-outline-padding-left, var(--button-outline-padding-x));
}
.site .button--outline {
  border-width: var(--button-outline-stroke);
}
.site .button--primary,
.site .button--outline {
  line-height: normal;
  border-style: solid;
}
.button--primary {
  transition:
    0.1s background-color linear,
    0.1s color linear;
}
.button--primary:not(:hover) {
  background: 0 0;
}
.button--primary {
  border-top-left-radius: var(--button-primary-radius-top-left);
  border-top-right-radius: var(--button-primary-radius-top-right);
  border-bottom-left-radius: var(--button-primary-radius-bottom-left);
  border-bottom-right-radius: var(--button-primary-radius-bottom-right);
}
.mobile-menu__cta .button.button--outline,
.button--outline {
  transition:
    0.1s background-color linear,
    0.1s color linear;
}
.mobile-menu__cta .button.button--outline:not(:hover),
.button--outline:not(:hover) {
  background: 0 0;
}
.button--outline {
  border-radius: 0;
}
[data-animate="image"] {
  min-height: 1px;
}
.reveal {
  opacity: 0;
  transition-property: opacity;
}
.reveal--visible {
  opacity: 1 !important;
}
footer,
header,
section > .page-section__wrapper {
  animation: hideContent 2s;
}
[data-animation-state="booted"] footer,
[data-animation-state="booted"] header,
[data-animation-state="booted"] section > .page-section__wrapper {
  opacity: 1;
  animation: none;
}

.menu-toggle__bar-top,
.menu-toggle__bar-middle,
.menu-toggle__bar-bottom {
  height: 1px;
}

.text-block .text-block__content .text-highlight a:link,
.text-block .text-block__content .text-highlight a:visited,
.text-block .text-block__content .text-highlight a:hover,
.text-block .text-block__content .text-highlight a:active {
  text-decoration: underline wavy 0.1em;
  text-underline-offset: 0.25em;
}

.footer-grid {
  --grid-gutter: calc(var(--site-gutter-mobile, 6vw) - 11px);
  --cell-max-width: calc((var(--site-max-width, 1500px) - (11px * (8 - 1))) / 8);

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(4, minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11px;
  column-gap: 11px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .footer-grid {
    --grid-gutter: calc(var(--site-gutter, 4vw) - 11px);
    --cell-max-width: calc((var(--site-max-width, 1500px) - (11px * (24 - 1))) / 24);
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(
      var(--site-max-width, 1500px),
      calc(100vw - var(--site-gutter, 4vw) * 2 - var(--inset-padding))
    );

    grid-template-rows: repeat(3, minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}

.footer-grid__substack {
  grid-area: 1/5/3/10;
  z-index: 2;
}

.footer-grid__substack .block {
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .footer-grid__substack {
    grid-area: 2/13/3/17;
    z-index: 2;
  }

  .footer-grid__substack .block {
    justify-content: flex-start;
  }
}

.footer-grid__instagram {
  grid-area: 1/3/3/7;
  z-index: 1;
}

.footer-grid__instagram .block {
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .footer-grid__instagram {
    grid-area: 2/10/3/13;
    z-index: 1;
  }

  .footer-grid__instagram .block {
    justify-content: flex-start;
  }
}

.substack-block {
  --text-block-stroke-color: hsla(var(--color-black-hsl), 1);
}

.footer-grid__substack {
  mix-blend-mode: var(--text-block-blend);
  border-radius: var(--text-block-radius);
}

.footer-grid__substack {
  --text-block-radius: 0px 0px 0px 0px;
}

.footer-grid__substack {
  --text-block-blend: normal;
}

.footer-grid__substack {
  --opacity: 100%;
  --origin-x: 50%;
  --origin-y: 50%;
  --block-transform: none;

  opacity: var(--opacity, 1);
  transform: var(--block-transform);
  transform-origin: var(--origin-x) var(--origin-y);
}

.instagram-block {
  --text-block-stroke-color: hsla(var(--color-black-hsl), 1);
}

.footer-grid__instagram {
  mix-blend-mode: var(--text-block-blend);
  border-radius: var(--text-block-radius);
}

.footer-grid__instagram {
  --text-block-radius: 0px 0px 0px 0px;
}

.footer-grid__instagram {
  --text-block-blend: normal;
}

.footer-grid__instagram {
  --opacity: 100%;
  --origin-x: 50%;
  --origin-y: 50%;
  --block-transform: none;

  opacity: var(--opacity, 1);
  transform: var(--block-transform);
  transform-origin: var(--origin-x) var(--origin-y);
}
